{% extends 'attendees/index.html' %}
{% block title %}Arrival Success{% endblock %}

{% block content %}
<!--<h1>Your QR Code</h1>
   <!-- <img src="{{ img_url }}" alt="QR Code" class="img-fluid mt-3>
<p>Unique ID: {{ unique_id }}</p>-->
<h1>Generated QR Codes</h1>

<div class="qr-code-grid">
    {% for qr in qr_codes %}
        <div class="qr-code-item">
            <p>Unique ID: {{ qr.unique_id }}</p>
            <img src="{{ qr.img_path }}" alt="QR Code for {{ qr.unique_id }}">
        </div>
    {% endfor %}
</div>

<style>
    .qr-code-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 10px;
    }
    .qr-code-item {
        text-align: center;
        margin-bottom: 20px;
    }
</style>
<a href="{% url 'login' %}?unique_id={{ unique_id }}" , > Login</a>
<a href="{% url 'register' %}" , class="btn btn-primary ">Register</a>
{% endblock %}


